/* items que no son afectados por la cascada */
Label{
    -fx-text-fill: #ffffff; 
    
}

VBox{
    -fx-background-color: #293134;
}

TitledPane AnchorPane {
    -fx-background-color: #293134;
    -fx-border-color:#293134;
}